:root {
    --primary-color: #f1f529;
    --secondary-color: #ffffff;
    --tertiary-color: #b12b84;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

/* apply styles to body */
body {
    /* apply font color to entire page */
    color:var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold; 
    font-size: 36px;
    color: var(--secondary-color); 
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw; 
}

/* apply styles to hero */
.hero {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 100px;
    color:var(--tertiary-color);
}

.hero-text {
    width: 80%;
    text-align: right;
    margin: 3.5%;
    color:var(--tertitary-color);
    font-size: 10px;
    line-height: 1.2;
    position:absolute;
    bottom: 0px;
    margin-left: 0px;
}
