:root {
    --primary-color: #427c92;
    --secondary-color: #ffffff;
    --tertiary-color: #42c8d1;
}

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

/* apply styles to body */
body {
    /* apply font color to entire page */
    color:var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold; 
    font-size: 36px;
    color: var(--secondary-color); 
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw; 
}

/* apply styles to hero */
.hero {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 100px;
    color:var(--primary-color);
}

.hero-text {
    width: 80%;
    text-align: right;
    margin: 3.5%;
    color:var(--primary-color);
    font-size: 10px;
    line-height: 1.2;
    position: relative;
    bottom: 0px;
    margin-left: 0px;
}

/* apply styles to about me */
.intro {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
}

.title {
    width: 14%;
    text-align: right;
    margin: 2.5%;
    color: var(--primary-color);
    font-size: 20px;
    line-height: 1.2;
}

.info {
    color:var(--primary-color);
    width:61%;
    margin: 2.5%; 
    font-size: 18px;
}

.primary-border {
    border-right-style:solid;
    padding: 0px 10px 0px 10px;
    border-right-color:var(--tertiary-color) ;
} 

/* style work section */

.large-crop {
    height: 300px;
    width: 740px;
    overflow: hidden;
    margin: 15px 10px 15px 10px;
    position: relative;
}

.large-crop img {
    height: 300px;
    width: 740px;
    border: 5px solid var(--tertiary-color);
}

.crop {
    height: 300px;
    width: 360px;
    overflow: hidden;
    margin: 15px 10px 15px 10px; 
    position: relative;
}

.crop img {
    height: 300px;
    width: 360px;
    border: 5px solid var(--tertiary-color);
}

.large-crop:hover .image{
    box-shadow: 10px 10 10px 10px rgba( 211, 211, 211, 1);
    opacity: 0.3;
}

.crop:hover .image{
    box-shadow: 10px 10 10px 10px rgba( 211, 211, 211, 1);
    opacity: 0.3;
}

.row1 {
    flex: 1 61%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    margin: 0px;
    
}

.row {
    flex: 2 61%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    margin: 0px;
    
}

.text-block {
    position: absolute;
    bottom: 30px;
    left: 5px;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    padding-left: 20px;
    padding-right: 20px;
  }

 